<?xml-stylesheet type="text/xsl" href="mathml.xsl"?>
<?xml-stylesheet type="text/xsl" href="http://www.w3.org/Math/XSL/mathml.xsl"?>
{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
Best Movie Actors
{% endblock %}


{% block content %}

<!--
	TIPS about using Bootstrap-Flask:
	https://github.com/helloflask/bootstrap-flask
	https://bootstrap-flask.readthedocs.io/
-->

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    function compose() {      
      var model_name = document.getElementById("name").value;
      var input =document.getElementById("name").value;
      console.log(model_name);
      $.ajax({
          url: '/compose',
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify( {'model_name':model_name}),
          success: function(response) {
              console.log(response);
              window.location.href = "/new_model";
          },
          error: function(error) {
              console.log(error);
          }
      });
    }
</script>
</head>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
      <img src="{{url_for('static',filename='logoTempWLarge.png')}}" alt="logo" width="80" height="80" style="vertical-align:top;float:right">
      <img src="{{url_for('static',filename='logo-cellml.png')}}" alt="logo" width="80" height="80" style="vertical-align:top;float:right">
      <h1 class="pt-5 pb-2">CellML Model Composition</h1>
      <p class="lead">This is the page for a CellML model composition demo. </p>
      <h2 class = "model search"> Search the models in PMR or select the modules in the generic cell flatmap </h2>
      <h2 class = "model display"> Model candidate list </h2>
      <p>The following are the models selected for your application, please click on individual model to view its structure and select the modules to import.</p>
      <ul>
        {% for pair in pairs %}
            <li><a href="{{ url_for( 'detail', num=pair[0] ) }}"  target="_blank" >{{ pair[1] }}</a></li>
        {% endfor %}
      </ul>
      <p>The selected modules are as following: </p>
      <ul>
        {% for selected_component in selected_components %}
            <li> {{selected_component[0]}}:  {{selected_component[1]}}</li>
        {% endfor %}
      </ul>
      <h2 class = "Model composition"> Model Composition </h2>
      <p>Click the compose model button and you will be seeing the new model on success.</p>
      <label for="name">Please type the model name first:</label>
      <input type="text" id="name" name="name" required minlength="1"  size="10">
      <button onclick="compose()">Compose the new model</button>            
    </div>
  </div>
</div>



{% endblock %}