<?xml-stylesheet type="text/xsl" href="mathml.xsl"?>
<?xml-stylesheet type="text/xsl" href="http://www.w3.org/Math/XSL/mathml.xsl"?>
{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
Best Movie Actors
{% endblock %}

{% block content %}

<!--
	TIPS about using Bootstrap-Flask:
	https://github.com/helloflask/bootstrap-flask
	https://bootstrap-flask.readthedocs.io/
-->

<head>

  <style>
    .column {
      float: left;
      width: 50%;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <div id="nodes" data-pynodes="{{nodes}}"></div>
  <div id="edges" data-pyedges="{{edges}}"> </div>
  <div id="model_name" data-pymodel_name="{{model_name}}"></div>
  <script>
    window.onload = function () {
      var iframe = document.getElementById("myiframe");
      iframe.width = iframe.contentWindow.document.body.scrollWidth;
      iframe.height = iframe.contentWindow.document.body.scrollHeight;
      network = document.getElementById('myiframe').contentWindow.network;
      var nodes = JSON.parse(document.getElementById("nodes").dataset.pynodes);
      var edges = JSON.parse(document.getElementById("edges").dataset.pyedges);
      document.getElementById('myiframe').contentWindow.getPydata(JSON.stringify(nodes), JSON.stringify(edges));
      document.getElementById('myiframe').contentWindow.drawGraph();
      network.fit()
    }
  </script>
  <script>
    function sendData() {
      network = document.getElementById('myiframe').contentWindow.network;
      var selected_nodes = network.getSelectedNodes();
      if (selected_nodes.length == 1) {
        if (network.body.data.nodes.get(selected_nodes[0]).shape == "box") {
          var comp_name = network.body.data.nodes.get(selected_nodes[0]).label;
          document.getElementById("comp_name").value = comp_name;
          document.getElementById("var_name").value = "";
        };
        if (network.body.data.nodes.get(selected_nodes[0]).shape == "ellipse") {
          var var_name = network.body.data.nodes.get(selected_nodes[0]).label;
          document.getElementById("var_name").value = var_name;
          // comp_name is the id stripped from the label
          var_name_0 = var_name.split(':')[0];
          var comp_name = network.body.data.nodes.get(selected_nodes[0]).id.slice(0, -var_name_0.length);
          document.getElementById("comp_name").value = comp_name;
        };
      } else {
        document.getElementById("comp_name").value = "";
        document.getElementById("var_name").value = "";
      };
      var selected_edges = network.getSelectedEdges();
      if (selected_edges.length == 1) {
        var new_selected_nodes = network.getConnectedNodes(selected_edges[0]);
        console.log(new_selected_nodes);
        if (new_selected_nodes.length == 2) {
          if (network.body.data.nodes.get(new_selected_nodes[0]).shape == "box") {
            var comp_name_1 = network.body.data.nodes.get(new_selected_nodes[0]).label;
            document.getElementById("comp_name_1").value = comp_name_1;
            document.getElementById("var_name_1").value = "";
          };
          if (network.body.data.nodes.get(new_selected_nodes[1]).shape == "box") {
            var comp_name_2 = network.body.data.nodes.get(new_selected_nodes[1]).label;
            document.getElementById("comp_name_2").value = comp_name_2;
            document.getElementById("var_name_2").value = "";
          };
          if (network.body.data.nodes.get(new_selected_nodes[0]).shape == "ellipse") {
            var var_name_1 = network.body.data.nodes.get(new_selected_nodes[0]).label;
            document.getElementById("var_name_1").value = var_name_1;
            // comp_name is the id stripped from the label
            var var_name_1_0 = var_name_1.split(':')[0];
            var comp_name_1 = network.body.data.nodes.get(new_selected_nodes[0]).id.slice(0, -var_name_1_0.length);
            document.getElementById("comp_name_1").value = comp_name_1;
          };
          if (network.body.data.nodes.get(new_selected_nodes[1]).shape == "ellipse") {
            var var_name_2 = network.body.data.nodes.get(new_selected_nodes[1]).label;
            document.getElementById("var_name_2").value = var_name_2;
            var var_name_2_0 = var_name_2.split(':')[0];
            // comp_name is the id stripped from the label
            var comp_name_2 = network.body.data.nodes.get(new_selected_nodes[1]).id.slice(0, -var_name_2_0.length);
            document.getElementById("comp_name_2").value = comp_name_2;
          };
        } else {
          document.getElementById("comp_name_1").value = "";
          document.getElementById("var_name_1").value = "";
          document.getElementById("comp_name_2").value = "";
          document.getElementById("var_name_2").value = "";
        };
      } else {
        document.getElementById("comp_name_1").value = "";
        document.getElementById("var_name_1").value = "";
        document.getElementById("comp_name_2").value = "";
        document.getElementById("var_name_2").value = "";
      };

    }
  </script>
  <script>
    function model_validation() {
      var iframe_validation = document.getElementById("validation");

      $.ajax({
        url: '/validation',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ 'new_edge': 'aa' }),
        success: function (response) {
          iframe_validation.srcdoc = response.json_issues;
        },
        error: function (error) {
          console.log(error);
        }
      });

    }
  </script>

  <script>
    function update_init() {

      var comp_name = document.getElementById("comp_name").value;
      var var_name = document.getElementById("var_name").value;
      var update_init = document.getElementById("update_init").value;

      $.ajax({
        url: '/update_init',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ 'comp_name': comp_name, 'var_name': var_name, 'init_text': update_init }),
        success: function (response) {
          window.location.href = "/new_model";
   
        },
        error: function (error) {
          console.log(error);
        }
      });

    }
  </script>
<script>
    function connect() {

      var comp_name_1 = document.getElementById("comp_name_1").value;
      var var_name_1 = document.getElementById("var_name_1").value;
      var comp_name_2 = document.getElementById("comp_name_2").value;
      var var_name_2 = document.getElementById("var_name_2").value;

      $.ajax({
        url: '/connect',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ 'comp_name_1': comp_name_1, 'var_name_1': var_name_1, 'comp_name_2': comp_name_2, 'var_name_2': var_name_2 }),	
        success: function (response) {
          window.location.href = "/new_model";
   
        },
        error: function (error) {
          console.log(error);
        }
      });

    }
  </script>

<script>
  function disconnect() {

    var comp_name_1 = document.getElementById("comp_name_1").value;
    var var_name_1 = document.getElementById("var_name_1").value;
    var comp_name_2 = document.getElementById("comp_name_2").value;
    var var_name_2 = document.getElementById("var_name_2").value;

    $.ajax({
      url: '/disconnect',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify({ 'comp_name_1': comp_name_1, 'var_name_1': var_name_1, 'comp_name_2': comp_name_2, 'var_name_2': var_name_2 }),	
      success: function (response) {
        window.location.href = "/new_model";
 
      },
      error: function (error) {
        console.log(error);
      }
    });

  }
</script>

</head>

<body>
  <h1>Model Review and Validation
    <img src="{{url_for('static',filename='logoTempWLarge.png')}}" alt="logo" width="100" height="100"
      style="vertical-align:top;float:right">
    <img src="{{url_for('static',filename='logo-cellml.png')}}" alt="logo" width="100" height="100"
      style="vertical-align:top;float:right">
    <h2>1. Model Review </h2>
    <p> Please review the new model and edit it as needed. You could also return the composition page to recompose the
      model.</p>
    <p><a href="/">Return to the model composition page</a> </p>
    <div class="row">
      <div style="width: 70%; float:left">
        <iframe id="myiframe" , src="{{url_for('static',filename='nx.html')}}" ,frameborder="0"
          width="100%"></iframe><br>
      </div>
      <div style="width: 30%; float:right">
        <h2> 2. Model validation </h2>
        <button onclick="model_validation()">Model validation</button>
        <iframe id="validation" , srcdoc="The model validation results" ,frameborder="0" height="200"
          width="100%"></iframe>
        <h2> 3. Model editing </h2>
        Select a node or an edge in the graph to edit the model, then click the submission button to confirm. <br>
        <button onclick="sendData()">Submit your selection </button>
        <h3> Update initial values </h3>
        <div class="row">
          <div class="column">
            <label for="comp_name">component name:</label><br>
            <input type="text" id="comp_name" value=""><br><br>
          </div>
          <div class="column">
            <label for="var_name">variable name and unit:</label><br>
            <input type="text" id="var_name" value=""><br><br>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <label for="update_init">initial value:</label><br>
            <input type="text" id="update_init" value=""><br><br>
          </div>
          <div class="column">
            <br>
            <button onclick="update_init()">Update initial value</button>
          </div>
        </div>

        <h3> Variable mapping </h3>

        <div class="row">
          <div class="column">
            <label for="comp_name_1">component 1 name:</label><br>
            <input type="text" id="comp_name_1" value=""><br><br>
            <label for="comp_name_2">component 2 name:</label><br>
            <input type="text" id="comp_name_2" value=""><br><br>
          </div>
          <div class="column">
            <label for="var_name_1">variable 1 name and unit:</label><br>
            <input type="text" id="var_name_1" value=""><br><br>
            <label for="var_name_2">variable 2 name and unit:</label><br>
            <input type="text" id="var_name_2" value=""><br><br>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <br>
            <button onclick="connect()">Connect</button>
            <button onclick="disconnect()">Disconnect</button>
          </div>
        </div>

        <h2> 4. Model parameterization and simulation </h2>
        <p><a href="/modelSim">To the model parameterization and simulation page</a> </p>
      </div>
    </div>

    <h2> The math in the model
      {% for math in math_list %}
      {% autoescape off %}
      <li>{{math[0]}}:</li>
      {% for submath in math[1] %}
      {% autoescape off %}
      <li>{{submath}}</li>
      {% endautoescape %}
      {% endfor %}
      {% endautoescape %}
      {% endfor %}
    </h2>
  </h1>
</body>

{% endblock %}