<?xml-stylesheet type="text/xsl" href="mathml.xsl"?>
<?xml-stylesheet type="text/xsl" href="http://www.w3.org/Math/XSL/mathml.xsl"?>
{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
Best Movie Actors
{% endblock %}


{% block content %}

<!--
	TIPS about using Bootstrap-Flask:
	https://github.com/helloflask/bootstrap-flask
	https://bootstrap-flask.readthedocs.io/
-->
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <div id="nodes" data-pynodes="{{nodes}}"></div>
  <div id="edges" data-pyedges="{{edges}}"> </div>
  <div id = "model_name" data-pymodel_name="{{model_name}}"></div>
  <script>
     window.onload = function() {
        var iframe = document.getElementById("myiframe");
        iframe.width = iframe.contentWindow.document.body.scrollWidth;
        iframe.height = iframe.contentWindow.document.body.scrollHeight;
        network= document.getElementById('myiframe').contentWindow.network;
        var nodes= JSON.parse(document.getElementById("nodes").dataset.pynodes);
        var edges = JSON.parse(document.getElementById("edges").dataset.pyedges);
        document.getElementById('myiframe').contentWindow.getPydata(JSON.stringify(nodes),JSON.stringify(edges));
        document.getElementById('myiframe').contentWindow.drawGraph();
        network.fit()
     }
  </script>
  <script>
    function add_edge() {
      network= document.getElementById('myiframe').contentWindow.network;
      var selected_edges = network.getSelectedEdges();
      var new_selected_nodes = network.getConnectedNodes(selected_edges[0]);   
        $.ajax({
            url: '/add_edge',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify( {'new_edge':new_selected_nodes}),
            success: function(response) {
              document.getElementById('myiframe').contentWindow.getPydata(JSON.stringify(response.nodes),JSON.stringify(response.edges));
              document.getElementById('myiframe').contentWindow.drawGraph();
              network.fit()
            },
            error: function(error) {
                console.log(error);
            }
        });
        document.getElementById("node-pair").innerHTML = new_selected_nodes;
    }
</script>
  <script>
    function sendData() {
        network= document.getElementById('myiframe').contentWindow.network;
        var selected_nodes = network.getSelectedNodes();   
        console.log(selected_nodes);
        $.ajax({
            url: '/process',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify( {'selected_nodes':selected_nodes}),
            success: function(response) {
            },
            error: function(error) {
                console.log(error);
            }
        });
        document.getElementById("select-result").innerHTML = selected_nodes;
    }
</script>
</head>
<body>
  <h1>Model Review and Validation
    <img src="{{url_for('static',filename='logoTempWLarge.png')}}" alt="logo" width="80" height="80" style="vertical-align:top;float:right">
    <img src="{{url_for('static',filename='logo-cellml.png')}}" alt="logo" width="80" height="80" style="vertical-align:top;float:right">
  <h2> Model Review </h2>
    <p> Please review the new model and edit it as needed. You could also return the composition page to recompose the model.</p>
    <p><a href="/">Return to the model composition page</a> </p>
  <h2> Model editing </h2>
  <h3> Initial vaules </h3>
  <p>Please provide an initial value for the following variables: </p>
  <ul>
    {% for form in forms %}
       {{ render_form(form) }}
    {% endfor %}
  </ul>
  <p>Please select one node to keep the initial value </p>
  <h3> Variable mapping </h3>
    <div>The selected edge links: <span id="node-pair"></span></div>
      <button onclick="add_edge()">Select and add new connection</button>
    <h2>  </h2>
	
      
      
    <iframe id="myiframe", src="{{url_for('static',filename='nx.html')}}",frameborder="0" width="100%"></iframe>  
  <p class="lead">The model structure of {{model_name}} </p>
   <h2> The math in the model    
    {% for math in math_list %}
    {% autoescape off %}
      <li>{{math[0]}}:</li>
	  {% for submath in math[1] %}
	  {% autoescape off %}
	   <li>{{submath}}</li>
	   {% endautoescape %}
	  {% endfor %}
    {% endautoescape %}
    {% endfor %}
  </h2>
</h1>
</body>

{% endblock %}